/*
=============================
    ESTILOS GLOBALES
=============================
*/

:root {
    --rojo: #C62427;
    --amarillo: #F4A91D;
    --gris: #D9D9D9;
    --fuente-maru: 'Zen Maru Gothic', serif;    /* Incluye: 500, 700 y 900 */
    --fuente-open: 'Open Sans', sans-serif;     /* Incluye: 500, italic-500, 700 */
    --fuente-roboto: 'Roboto Mono', monospace;  /* Incluye: 500 */
}

a {
    text-decoration: none;
    color: inherit;
}

p, h1, h4 {
    margin: 0px;
}

p {
    line-height: 1.8;
}

h2, h3 {
    margin: 0px 0px 20px 0px;
}


/*
=============================
    ESTILOS HEADER
=============================
*/

header {
    background-color: var(--rojo);
    padding: 10px;
    text-transform: uppercase;
}

.header-pc {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-mobil {
    display: none;
}

.header-mobil img {
    height: 35px;
}

.navegacion-mobil {
    display: flex;
    flex-direction: column;
}

.ocultar {
    display: none;
}

#boton-opciones {
    cursor: pointer;
}

@media (max-width: 700px) {
    .header-pc {
        display: none;
    }

    .header-mobil {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

header nav {
    display: flex;
    align-items: center;
    gap: 10px;
}

header nav a {
    text-decoration: none;
    font-family: var(--fuente-maru);
    font-weight: 700;
    color: white;
    font-size: 16px;
    padding: 15px 10px 15px 10px;
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out
    /* ease, linear, ease-out, ease-in, ease-in-out */
}

header nav a:not(:last-child):hover {
    border-radius: 8px;
    background-color: #D4595B;
}

.sticky {
    position: -webkit-sticky;   /* Requerido para navegador Safari */
    position: sticky;
    top: 0px;
    z-index: 100;               /* Presentar siempre hasta arriba. */
}

.logo-header {
    height: 40px;
}

.logo {
    height: 60px;
}

.boton-login {
    color: var(--rojo);
    background-color: var(--amarillo);

    border: 2px solid var(--amarillo);
}

.boton-login:hover {
    background-color: transparent;
    color: white;

    box-sizing: border-box;
    border: 2px solid white;
}

/*
=============================
    ESTILOS MAIN
=============================
*/

#amigos {
    height: 500px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/fotos/amigos.png');
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
}

.cita-centrada {
    color: white;
    margin: 0px 80px;       /* Reducir margen en dispositivos mobiles. */
    font-family: var(--fuente-open);
}

.cita-principal {
    font-size: 40px;
    text-align: center;
}

.cita-autor {
    font-size: 20px;
    font-style: italic;
    text-align: end;
    margin-right: 20px;
}


/*
=============================
    ESTILOS HOME PAGE
=============================
*/

.contenedor-doble {
    padding: 30px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;  /* Reducir, en caso de que se vea mal en responsive */
}

@media (max-width: 720px) {
    .contenedor-doble {
        flex-direction: column;
    }
}

.fondo-comida {
    background-image: url("/images/fondo/comida-rojo.png");
    background-repeat: repeat;
    background-size: 10%;
}

.titulo {
    font-family: var(--fuente-open);
    text-transform: uppercase;
    font-size: 28px;
    color: white;
}

.contenido {
    flex-basis: 50%;
    text-align: center;
}

.contenido-texto {
    font-family: var(--fuente-maru);
    font-size: 16px;
    color: white;
}

.contenido-texto p {
    margin: 20px 0px;
}

.boton1 {
    font-family: var(--fuente-maru);
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    background-color: var(--amarillo);
    color: var(--rojo);
    border: 2px solid var(--amarillo);
    border-radius: 8px;
    padding: 15px 45px;
    cursor: pointer;

    transition: background-color 0.3s ease-in-out;
}

.boton1:hover {
    background-color: var(--rojo);
    color: var(--amarillo);
}

#multitud {
    background-image: url('/images/fotos/multitud.png');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding: 30px;

}

#multitud p {
    margin: 25px 0px;
}

.texto-enfoque1 {
    font-family: var(--fuente-maru);
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
}

.texto-enfoque2 {
    font-family: var(--fuente-maru);
    font-weight: 700;
    font-size: 60px;
    text-transform: uppercase;
}

.texto-enfoque3 {
    font-family: var(--fuente-maru);
    font-size: 16px;
}

.contador {
    font-family: var(--fuente-roboto);
    font-size: 80px;
    
    display: flex;
    justify-content: center;
    gap: 20px;
}

@media (max-width: 620px) {
    .emoji-estrella {
        display: none;
    }
}

.contenedor {
    padding: 30px 20px;
}

.fondo-rojo {
    background-color: var(--rojo);
}

.fotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.fotos img {
    filter: brightness(40%);
    
    transition: filter 0.3s ease-in-out;
}

.fotos img:hover {
    filter: brightness(100%);
}

@media (max-width: 1024px) {
    /* Ocultar completamente las fotos en dispositivos que no son PCs. */
    .fotos-experiencia {
        display: none;
    }
}

.fondo-amarillo {
    background-color: var(--amarillo);
}

.margen-texto {
    margin: 25px 0px;
}

.boton2 {
    font-family: var(--fuente-maru);
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    background-color: var(--amarillo);
    color: white;
    border: 2px solid white;
    border-radius: 8px;
    padding: 15px 45px;
    cursor: pointer;

    transition: background-color 0.3s ease-in-out;
}

.boton2:hover {
    background-color: white;
    color: var(--amarillo);
}

.divisor-doble {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 1024px) {
    .divisor-doble {
        flex-direction: column;
    }

    .texto-izquierda {
        margin-bottom: 35px;
    }

    .texto-derecha {
        margin-top: 35px;
    }
}

.contenido-imagen {
    flex-grow: 1;
    max-height: 350px;
}

.contenido-imagen img {
    max-height: 350px;
}

.flex-centrar {
    flex-grow: 2;
    padding-left: 75px;
    padding-right: 75px;
}

.texto-derecha {
    text-align: start;
}

.texto-izquierda {
    text-align: end;
}

.asociados {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

@media (max-width: 880px) {
    .asociados {
        flex-direction: column;
        gap: 0px 0px;
    }

    .asociados :first-child {
        /* La imagen del Bamx no tiene margenes. */
        padding: 50px 0px;
    }
}


/*
=============================
    ESTILOS RESEÑAS
=============================
*/

.fondo-criticas {
    background-image: url('/images/fondo/fondo-criticas.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.paginacion-carusel {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.circulo {
    background-color: transparent;
    border: 2px solid var(--gris);
    border-radius: 10px;
    height: 10px;
    width: 10px;
    cursor: pointer;
}

.seleccionado {
    background-color: var(--gris);
}

#circulo2 {
    background-color: var(--gris);
}

.boton-arrow {
    background-color: transparent;
    height: 90px;
    width: 0px;

    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 30px solid var(--gris);

    cursor: pointer;
    transition: all 0.3s;
}

.boton-arrow:hover {
    border-bottom: 30px solid #f9f9f9;
}

@media (max-width: 660px) {
    .boton-arrow {
        display: none;
    }
}

.controles-critica {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

#boton-arrow1{
    rotate: -90deg;
}

#boton-arrow2{
    rotate: 90deg;
}

.critica {
    display: flex;
    align-items: center;
    width: 800px;   /* Necesita ser responsive. */
}

@media (max-width: 880px) {
    .critica {
        flex-direction: column;
        gap: 15px;
    }

    .critica-autor {
        text-align: center;
    }
}

#critica-imagen {
    height: 70px;
    width: 70px;
    border-radius: 80px;
    display: block;
}

.critica-contenido {
    width: 100%;
    margin: 0px 15px;

    font-family: var(--fuente-maru);
    color: white;
}

.contenedor-critica {
    /* Corregir el desface provocado por #critica-imagen para centrar la review. */
    margin-right: 70px;
}

@media (max-width: 880px) {
    .critica-contenido {
        margin: 0px;
    }

    .contenedor-critica {
        margin-right: 0px;
    }
}

.centrar {
    text-align: center;
}

.critica-autor {
    font-weight: 700;
    font-size: 14px;
}

.critica-opinion {
    font-size: 20px;
    text-align: center;
}

/*
=============================
    ESTILOS FOOTER
=============================
*/

.redes {
    display: flex;
    align-items: center;
    gap: 8px;
}

.redes img {
    height: 26px;
}

.redes img:last-child {
    /* Imagen de Twitter no concuerda con las dimensiones solicitadas. */
    height: 20px;
}

.contacto {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

@media (max-width: 880px) {
    .contacto {
        align-items: center;
        margin-top: 50px;
    }
}

.footer-superior {
    display: flex;
    justify-content: space-between;

}

@media (max-width: 880px) {
    .footer-superior {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
}

.subtitulo {
    color: white;
    font-family: var(--fuente-maru);
    text-align: center;
}

.footer-navegacion {
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px 0px;
    font-size: 16px;
}

.footer-navegacion a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.mapasitio {
    display: flex;
    gap: 0px 35px;
    margin-right: 35px;
}

@media (max-width: 880px) {
    .mapasitio {
        margin: 0px;
    }
}


/*
=============================
    PAGINA SUCURSALES
=============================
*/

#banner-sucursales {
    background-image: url('/images/banners/sucursales.png');
}

.banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    text-transform: uppercase;
    height: 200px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.banner h1 {
    color: white;
    font-family: var(--fuente-open);
}

.texto-gris p {
    font-family: var(--fuente-maru);
    color: #1F1F1F;
}

.sucursales {
    font-family: var(--fuente-maru);
    margin: 40px 40px;
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.sucursales img {
    height: 65px;
    width: auto;
}

.sucursal {
    text-align: center;
}

.sucursal h4 {
    font-weight: 900;
    margin: 8px 0px;
}

.sucursal p {
    line-height: 1.4;
}

.email {
    font-size: 14px;
}

/*
=============================
    PAGINA NOSOTROS
=============================
*/

.fondo-nosotros {
    background-image: url('/images/fondo/nosotros.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;

    color: white;
}

.fondo-nosotros h1 {
    font-family: var(--fuente-open);
    text-transform: uppercase;
}

.contenedor-enfoque {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 30px;
    font-family: var(--fuente-maru);

    margin: 80px 100px;
    padding: 20px 50px;
}

@media (max-width: 1024px) {
    .contenedor-enfoque {
        margin: 80px 0px;
        padding: 20px;
    }
}

/*
=============================
    PAGINA LOGIN
=============================
*/

.fondo-login {
    background-image: url('/images/fondo/login.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 600px;
}

.contenedor-login {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 20px;
    font-family: var(--fuente-maru);
    color: white;
    border-radius: 14px;
}

.login-titulo {
    font-weight: 900;
    text-align: center;
    margin-bottom: 25px;
}

#login-mensaje {
    font-size: 14px;
    text-align: center;
    border-radius: 6px;
    padding: 8px 20px;
    max-width: 300px;
}

.login-error {
    background-color: var(--rojo);
    color: white;
}

.login-exito {
    background-color: rgb(0, 181, 0)
}

.login-datos {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 25px 0px;
    align-items: center;
}

.login-datos label {
    display: block;
    margin-bottom: 8px;
    cursor: pointer;
}

.datos {
    width: 312px;
    height: 36px;

    background-color: #e0e0e0;
    border: none;
    border-radius: 4px;
    padding: 0px 10px;
}

/*
.login-datos input[type=submit] {
    margin-top: 34px;
    font-weight: 900;
    
    background-color: rgb(0, 165, 0);
    color: white;
    cursor: pointer;

    transition: background-color 0.2s ease-in-out;
}

.login-datos input[type=submit]:hover {
    background-color: rgb(0, 192, 0);
}
*/

.boton3 {
    background-color: rgb(0, 165, 0);
    font-weight: 900;
    color: white;
    border: none;
    border-radius: 8px;
    margin: 25px 0px;
    padding: 14px 0px;
    width: 100%;

    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.boton3:hover {
    background-color: rgb(0, 190, 0);
}

.login-links {
    font-size: 14px;
    text-align: center;
}

.login-links a {
    color: blue;
    text-decoration: underline;
}


/*
=============================
    ESTILOS MINI-FOOTER
=============================
*/

.mini-footer {
    text-align: center;
    font-family: var(--fuente-maru);
    color: white;
    padding: 8px;
}
